:root {
  --box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
  --default-color: #45a29e;
}

body {
  background-color: #ecf3f3 !important;
  margin: 100px auto !important;
  font-size: 14px;
  font-family: Georgia, "Times New Roman", Times, serif;
}

.navbar {
  background-color: #1f2833;
  position: fixed !important;
  top: 0;
  left: 0;
  z-index: 9999;
  width: 100%;
}
.nav-link {
  color: wheat !important;
  font-weight: 600 !important;
  font-size: 18px !important;
}

.logo {
  width: 172px;
  height: auto;
  margin-bottom: -50px;
}
.active {
  border: 0.5px dashed #45a29e;
  border-radius: 0px;
}

h1 {
  font-family: Georgia, "Times New Roman", Times, serif;
  color: #0b0c10;
  padding-top: 64px;
  line-height: 60px;
  font-weight: 900;
}
p {
  font-family: Georgia, "Times New Roman", Times, serif;
  text-align: justify;
  margin: 24px 0;
  padding-right: 40px;
  font-size: 18px;
  line-height: 2;
}

.decoration iframe {
  margin: 30px 0 5px 0;
  border-radius: 12px;
}
.ratio-16x9 {
  --bs-aspect-ratio: calc(9 / 16 * 100%);
}
.ratio {
  position: relative;
  width: 100%;
  max-height: auto;
}
iframe {
  border: 0;
}
.section-separator {
  margin: 40px 0;
  width: 100%;
  height: 30px;
}
.btn-primary {
  font-family: Georgia, "Times New Roman", Times, serif !important;
  border-radius: 50px !important;
  background: #1f2833 !important;
  color: #45a29e !important;
  text-decoration: none !important;
  font-size: 28px !important;
  line-height: 22px !important;
  padding: 20px 40px !important;
  border: none !important;
  border: 1px solid #1f2833 !important;
  transition: background 200ms ease, border-color 200ms ease !important;
  box-shadow: var(--box-shadow);
}
h2 {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 42px;
}
.info {
  text-decoration: none;
  cursor: pointer;
  color: #1f2833;
}
.info :hover {
  color: #0b0c10;
}
.content {
  font-size: 18px;
  line-height: 21px;
}
footer {
  background-color: #1f2833;
  color: var(--default-color);
  text-align: left;
  padding-top: 40px;
  padding-bottom: 40px;
  padding-left: 80px;
  margin-bottom: -85px;
}
footer i {
  display: inline-block;
  margin-right: 1em;
  font-size: 20px;
  line-height: 24px;
  color: var(--default-color);
}
footer i:hover {
  color: white;
  background-color: var(--default-color);
}
footer a {
  text-decoration: none;
  color: var(--default-color);
}

.card-image {
  position: relative;
  height: 150px;
  width: 150px;
  padding: 3px;
}
.card-image .card-img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.swiper-slide {
  height: auto !important;
}
.swiper-content {
  height: 100% !important;
}
card {
  border-radius: 25px;
  background-color: #1f2833;
}
.name {
  font-size: 18px;
  font-weight: 600;
  text-align: center;
  color: var(--default-color);
}
.slide-container {
  max-width: 1120px;
  width: 100%;
  padding: 40px 0;
}
.slide-content {
  margin: 0 40px;
  padding: 45px 20px;
}
.image-content,
.card-content {
  padding: 10px 14px;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
}
.image-content {
  padding: 25px 0;
  row-gap: 5px;
  position: relative;
}
.description {
  padding: 25px 0;
  font-size: 14px;
  color: #1f2833;
  text-align: center;
}
.question {
  font-size: 18px;
  font-weight: 600;
}

section {
  padding: 20px;
}
.more {
  display: none;
}
.post {
  font-family: Georgia, "Times New Roman", Times, serif;
  text-align: justify;
  margin: 24px 0;
  padding-right: 40px;
  font-size: 18px;
  line-height: 2;
}
.post:not(:last-child) {
  margin-bottom: 30px;
}
button {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  cursor: pointer;
  margin-top: 10px !important;
}

.question {
  font-family: Georgia, "Times New Roman", Times, serif;
  position: relative;
  margin: 0;
  padding: 10px 10px 15px 50px;
  display: block;
  width: 100%;
  cursor: pointer;
}

.answers {
  font-family: Georgia, "Times New Roman", Times, serif;
  padding: 0px 15px;
  margin: 5px 0;
  width: 100% !important;
  line-height: 32px;
  height: 0;
  overflow: hidden;
  z-index: -1;
  position: relative;
  opacity: 0;
  -webkit-transition: 0.3s ease;
  -moz-transition: 0.3s ease;
  -o-transition: 0.3s ease;
  transition: 0.3s ease;
}

.answer1 {
  font-family: Georgia, "Times New Roman", Times, serif;
  padding: 0px 15px;
  margin: 5px 0;
  width: 100% !important;
  line-height: 32px;
  position: relative;
}
.blog {
  text-decoration: none;
  color: var(--default-color);
  font-weight: 600;
}
.blog:hover {
  color: var(--default-color);
  font-weight: 600;
}
.questions:checked ~ .answers {
  height: auto;
  opacity: 1;
  padding: 15px;
}

.plus {
  position: absolute;
  margin-left: 10px;
  z-index: 5;
  font-size: 2em;
  line-height: 100%;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
  -webkit-transition: 0.3s ease;
  -moz-transition: 0.3s ease;
  -o-transition: 0.3s ease;
  transition: 0.3s ease;
}

.questions:checked ~ .plus {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

.questions {
  display: none;
}
